<!doctype html>
<html lang="it">
  <head>
    <title>UrBot Open official site</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/400755997716512788/289fd6ba696452eed53b42e15637e09c.png"/>
  </head>
  <body leftmargin="0" topmargin="0" bgcolor="#646100" class="bg" link="e8e8e8" vlink="e8e8e8">
    <div class="topnav">
      <a href="index.html">Main</a>
      <a href="https://discordapp.com/oauth2/authorize?client_id=400755997716512788&permissions=8&scope=bot">Invite</a>
      <a href="commands.html">Commands</a>
      <a class="active" href="about.html">About</a>
      <a href="pwn.html">UPWNMii</a>
      <a href="3dshax.html">3DS Exploits</a>
      <img width="49" heigth="49" style="float:right" src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2Flogo.png?1518303042232">
    </div>
    <br> <br> <br>
    <img hspace="300" widht="100" height="100" src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2FAbout.png?1518376550217" alt="logo" class="center">
    <div class="text">
      <font color="#fff" face="contm" size="5">About the bot dev:</font> <br>
      <font color="#fff" face="contm" size="5">    I'm just a normal guy that when he was bored decided to learn JavaScript and code this bot. Even if i have still to learn alot, i'm always open at new possibilities</font> <br> <br>
      <font color="#fff" face="contm" size="5">About me:</font> <br>
      <font color="#fff" face="contm" size="5">    I'm a fancy bot developed with discord.js and hosted on Glitch.com! I have a lot of commands and can perform more than 30 actions! If you want to get started you can use "u!help all"</font> <br> <br>
      <font color="#fff" face="contm" size="5">Special thanks:</font> <br>
      <font color="#fff" face="contm" size="5">    TotoDelon: thank to you so much! Without you this project would be nothing!</font> <br>
      <font color="#fff" face="contm" size="5">    Excel.: helped with some parts of the code, thank you too!</font> <br>
      <font color="#fff" face="contm" size="5">    The "An'idiots guide": they were fondamental for the bot to exist, much advices i had i got from there</font>
    </div>
    <div class="footer">
      <p>Property of LollerPWN#1337, all rights reserved. LollerPWN&copy;2018</p>
    </div>
    <link rel="stylesheet" href="/styles.css">
  </body>
</html>