<!doctype html>
<html lang="it">
  <head>
    <title>UrBot Open official site</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/400755997716512788/289fd6ba696452eed53b42e15637e09c.png"/>
  </head>
  <body leftmargin="0" topmargin="0" bgcolor="#646100" class="bg" link="e8e8e8" vlink="e8e8e8">
    <div class="topnav">
      <a href="index.html">Main</a>
      <a href="https://discordapp.com/oauth2/authorize?client_id=400755997716512788&permissions=8&scope=bot">Invite</a>
      <a class="active" href="commands.html">Commands</a>
      <a href="about.html">About</a>
      <a href="pwn.html">UPWNMii</a>
      <a href="3dshax.html">3DS Exploits</a>
      <img width="49" heigth="49" style="float:right" src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2Flogo.png?1518303042232">
    </div>
    <br> <br> <br>
    <img hspace="300" widht="100" height="100" src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2FCommands.png?1518298855762" alt="logo" class="center">
    <div class="text">
      <font color="#fff" face="contm" size="5">Here is a complete list of the commands: </font> <br> <br>
      <table>
        <tr><td>u!ping</td><td>Check the bot response time and even the API latency.</td></tr>
        <tr><td>u!stats</td><td>This commands let you see alot of the bot informations.</td></tr>
        <tr><td>u!notify</td><td>Usage "u!notify @user &lt;message&gt;", DMs the pinged user with the given message.</td></tr>
        <tr><td>u!mute</td><td>Usage "u!mute @user", if "Muted" role exists in the server, the user mentioned will be given that role and the bot will then fetch for his messages and delete them.</td></tr>
        <tr><td>u!purge</td><td>Usage "u!purge &lt;amount&gt; (optional)@user" amount has to be from 2 to 100, deletes messages by the amount given. If @user is specified deletes the amount given of messages sent by the mentioned user.</td></tr>
        <tr><td>u!ban</td><td>Usage "u!ban @user &lt;reason&gt;", bans the mentioned user and returns the reason of the action.</td></tr>
        <tr><td>u!kick</td><td>Same as ban (even usage) but instead of banning kicks the user from the server.</td></tr>
        <tr><td>u!invite</td><td>Creates a 24h invite of the channel it was used in.</td></tr>
        <tr><td>u!warn</td><td>Same as ban, but it just warns the user and doesnt take any action.</td></tr>
        <tr><td>u!help</td><td>It shows the avaiable help categories, and using it lke "u!help &lt;category&gt;", it shows the avaiable commands based by the category.</td></tr>
        <tr><td>u!say</td><td>Usage "u!say &lt;phrase&gt;", deletes your message and sends your phrase.</td></tr>
        <tr><td>u!avatar</td><td>Usage "u!avatar (optional)@user", send your avatar link and if @user is specified, retruns the avatar link of the mentioned user.</td></tr>
        <tr><td>u!giphy</td><td>Usage "u!giphy &lt;query&gt;", lets you search a gif on giphy, returning a random result.</td></tr>
        <tr><td>u!cats</td><td>Returns a random cat gif.</td></tr>
        <tr><td>u!reddit</td><td>Usage "u!reddit &lt;query&gt;", returns you a link of the search on Reddit.</td></tr>
        <tr><td>u!xda</td><td>Same as "u!reddit", only thing that changes is that it searches on XDA.</td></tr>
        <tr><td>u!play</td><td>Usage "u!play &lt;yt link&gt;", connects to a voice channel and plays the music file of the YouTube link given.</td></tr>
        <tr><td>u!stop</td><td>Basically stops the reproduction and let the bot exit the voice channel.</td></tr>
        <tr><td>u!joinvoice</td><td>Joins a voice channel without reproducing anything.</td></tr>
        <tr><td>u!tag</td><td>Usage "u!tag &lt;tag name&gt;", outputs the tag content relative to the saved tag.</td></tr>
        <tr><td>u!tagadd</td><td>Usage "u!tagadd &lt;tag name&gt; &lt;tag content&gt;", add the desired tag with his name and content.</td></tr>
        <tr><td>u!tagdel</td><td>Same as "u!tag", but deletes the tag.</td></tr>
        <tr><td>u!tagedit</td><td>Same as "u!tagadd", only difference is that deletes an existent tag.</td></tr>
        <tr><td>u!tagfind</td><td>Same as "u!tag", returns info about the specified tag.</td></tr>
        <tr><td>u!taglist</td><td>Returns the tag list.</td></tr>
        <tr><td>u!bin</td><td>Usage "u!bin &lt;string&gt;", converts the string into binary.</td></tr>
        <tr><td>u!bintxt</td><td>Same as "u!bin", but converts binary to text.</td></tr>
        <tr><td>u!hex</td><td>Same as "u!bin", but instead of converting into biniary converts into hex.</td></tr>
        <tr><td>u!hextxt</td><td>Same as "u!hex", but converts hex into text.</td></tr>
        <tr><td>u!hexcol</td><td>Usage "u!hexcol &lt;6 characters hex string&gt; OR &lt;3 characters word&gt;", if a hex string is specified sends an embed with the specified color, wither if a word is specified converts it into hex and sends colored embed.</td></tr>
        <tr><td>u!b64</td><td>Same as "u!bin" and "u!hex", converts string to base64.</td></tr>
        <tr><td>u!b64txt</td><td>Same as "u!b64", converts base64 string into text.</td></tr>
        <tr><td>u!guide</td><td>Sends an embed with the links of all your favorite haxxing guides!</td></tr>
        <tr><td>u!useful-apps</td><td>Sends an embed with links to download useful apps for CFW enabled 3DS systems.</td></tr>
        <tr><td>u!ban-prev</td><td>Sends an embed that will help you to prevent your 3DS to be banned from Nintendo.</td></tr>
      </table>
      <br><br><br><br><br>
    </div>
    <div class="footer">
      <p>Property of LollerPWN#1337, all rights reserved. LollerPWN&copy;2018</p>
    </div>
    <link rel="stylesheet" href="/styles.css">
  </body>
</html>