<!doctype html>
<html lang="it">
  <head>
    <title>UrBot Open official site</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/400755997716512788/289fd6ba696452eed53b42e15637e09c.png"/>
  </head>
  <body leftmargin="0" topmargin="0" bgcolor="#646100" class="bg" link="e8e8e8" vlink="e8e8e8">
    <div class="topnav">
      <a class="active" href="index.html">Main</a>
      <a href="https://discordapp.com/oauth2/authorize?client_id=400755997716512788&permissions=8&scope=bot">Invite</a>
      <a href="commands.html">Commands</a>
      <a href="about.html">About</a>
      <a href="pwn.html">UPWNMii</a>
      <a href="3dshax.html">3DS Exploits</a>
      <img width="49" heigth="49" style="float:right" src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2Flogo.png?1518303042232">
    </div>
    <br> <br> <br>
    <img hspace="300" widht="100" height="100" src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2FUrBot%20open%20logo.png?1518266302075" alt="logo" class="center">
    <div class="text">
      <font color="#fff" face="contm" size="5">UrBot Open is an awesome Nintendo Homebrew bot for Discord!</font> <br> <br>
      <font color="#fff" face="contm" size="5">The bot prefix is "u!"</font> <br> <br>
      <font color="#fff" face="contm" size="5">For checking all the commands try "u!help all" to check how they are and be sure to try them out!</font> <br> <br>
      <img src="https://cdn.glitch.com/c6051932-cc31-4429-a6f8-46c36fc212f8%2Fhelp.gif?1518293394373">
      <br>
      <font color="#fff" face="contm" size="5">If you don't know, the bot is even on <abbr title="Discord Bot List">DBL</abbr>! <a href="https://discordbots.org/bot/400755997716512788">Link</a></font>
      <br>
      <br>
      <font color="#fff" face="contm" size="5">For inviting the bot in your server check the Invite button up there!</font>
      <br>
      <br>
      <br>
      <iframe class="discord" src="https://discordapp.com/widget?id=396298583017652229&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="footer">
      <p>Property of LollerPWN#1337, all rights reserved. LollerPWN&copy;2018</p>
    </div>
    <link rel="stylesheet" href="/styles.css">
  </body>
</html>